fastapi
uvicorn
google-cloud-storage
python-multipart
python-dotenv
opencv-python
torch 
torchvision 
torchaudio 
transformers
pillow
faiss-cpu
ftfy
google-cloud-aiplatform
google-generativeai
pymupdf
pdfplumber
pdfminer.six
python-docx
nltk
pypdf2
python-docx 
pyspellchecker
PyMuPDF
ftfy
unidecode